:root {
  --primary-color: #125B50;
  --secondary-color: #F8B400;
  --third-color: #383838;
  --fourth-color: #f05945;
  --bg-color: #fdfdfd;
}

body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: var(--third-color);
  padding: 1em;
  /* width: 95%; */
}

.navbar a {
  text-decoration: none;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.best {
  display: none;
}

.quiz {
  margin-top: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}

ol {
  text-align: justify;
}

p {
  text-align: justify;
}

h1 {
  font: 'Roboto';
  font-weight: 800;
  text-align: center;
}

h3 {
  font-weight: 500;
}

.row {
  margin-bottom: 1%;
}

.title-div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% auto 0% auto;
}

.title-div .home-subtitle {
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  margin-bottom: 0;
}

.title-div .home-title {
  font-size: 150%;
  padding: 1%;
}

.calculator-title h1 {
  font-size: 150%;
}

.calculator-title h2 {
  font-size: 70%;
  text-align: center;
}

.calculator-title p {
  font-size: 100%;
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 1%;
}

.calculator-title .phase-name {
  padding-top: 20%;
  text-align: right;
}

.calculator-title .voltage51 {
  padding-top: 5%;
}

.calculator-title .tr-side {
  font-size: 60%;
}

.calculator-title .set-relay {
  text-align: right;
}

.calculator-title .relay51 .set-relay {
  padding-top: 10%;
}

.calculator-title .row-CT87 {
  padding-bottom: 2%;
}

.result-row {
  text-align: center;
}

.table-home {
  margin-top: 0%;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.table-home .home-table-row {
  padding: 0% 0 0 0%;
}

.form-control::-webkit-input-placeholder {
  font-size: 50%;
  margin: 0;
  padding: 0;
}

.form-control:-ms-input-placeholder {
  font-size: 50%;
  margin: 0;
  padding: 0;
}

.form-control::-ms-input-placeholder {
  font-size: 50%;
  margin: 0;
  padding: 0;
}

.form-control::placeholder {
  font-size: 50%;
  margin: 0;
  padding: 0;
}

.btn {
  padding-right: auto;
  padding-left: auto;
  font-size: 75%;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 500;
  font-size: 150%;
  margin: 1% 3% 3% 1%;
  border-radius: 25px;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-success {
  border-radius: 25px;
  font-weight: 500;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-success:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  border-radius: 25px;
  font-weight: 500;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--third-color);
  border-color: var(--third-color);
}

.input-row-50N {
  margin: 1% 0 1% 0;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto 0 auto;
  text-align: center;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--third-color);
  height: 100vh;
  padding: 1em;
}

nav .nav-menu {
  margin-top: 5em;
}

nav .nav-menu .git {
  width: auto;
  height: 30px;
}

nav .nav-menu a {
  display: block;
  color: var(--secondary-color);
  font-size: 1em;
  padding: .5em;
  cursor: pointer;
  text-align: right;
}

nav .nav-menu a:hover {
  font-weight: bold;
  color: var(--purple-color);
}

nav .mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.intro-teori ol {
  font-size: 100%;
}

.responsive-img {
  max-width: 100%;
}

.img-unbalance {
  display: block;
  height: 200px;
  margin: auto;
  margin-bottom: 3%;
}

.img-sc {
  display: block;
  max-width: 30%;
  margin: auto;
}

.img-kirchoff {
  max-height: 300px;
}

.img-esf {
  max-height: 300px;
}

.kirchoff {
  margin-bottom: 5%;
}

.img-kir-trafo {
  max-height: 150px;
  display: block;
  margin: auto;
}

.img-inrush {
  max-width: 80%;
}

.img-frek {
  max-width: 30%;
  height: auto;
  margin: 2% 4% 2% 4%;
}

.img-inertia {
  max-width: 80%;
  margin: 2% 4% 2% 4%;
}

.img-kurva {
  max-width: 50%;
  margin: 2% 4% 2% 4%;
}

.img-bf {
  max-width: 100%;
}

.img-bf-2 {
  max-width: 80%;
}

.img-sef {
  max-width: 50%;
}

canvas {
  width: 100%;
}

.textSimulasiArus {
  margin: 5% auto 1% auto;
}

.textSimulasiArus p {
  margin-bottom: 0.5%;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav .git {
    margin-top: -.3em;
    width: auto;
    height: 30px;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav .nav-menu {
    top: -5em;
    position: absolute;
    right: 1.5em;
  }
  .navbar nav a {
    font-size: 1em;
    padding: .1em 1em;
    cursor: pointer;
  }
  .btn-primary {
    margin: 15% 3% 3% 1%;
  }
  .title-div .home-title {
    font-size: 300%;
  }
  .calculator-title h1 {
    font-size: 250%;
  }
  .calculator-title h2 {
    font-size: 100%;
  }
  .calculator-title .phase-name {
    padding-top: 5%;
  }
  .calculator-title .voltage51 {
    padding-top: 0%;
  }
  .calculator-title .tr-side {
    font-size: 100%;
  }
  .calculator-title .set-relay {
    text-align: right;
    padding-top: 5%;
  }
  .calculator-title .relay51 .set-relay {
    padding-top: 5%;
    padding-right: 2%;
  }
  .calculator-title .row-CT87 {
    padding-bottom: 2%;
  }
  .form-control::-webkit-input-placeholder {
    font-size: 100%;
  }
  .form-control:-ms-input-placeholder {
    font-size: 100%;
  }
  .form-control::-ms-input-placeholder {
    font-size: 100%;
  }
  .form-control::placeholder {
    font-size: 100%;
  }
  .img-kir-trafo {
    max-height: 200px;
    float: left;
    margin-right: 5%;
  }
  .img-inrush {
    max-width: 40%;
    margin-bottom: 2%;
  }
  .textSimulasiArus {
    margin: 0% auto 1% auto;
  }
  .textSimulasiArus p {
    margin-bottom: 0.5%;
  }
  .img-frek {
    max-width: 80%;
    height: auto;
    margin: 2% 4% 2% 4%;
  }
  .img-inertia {
    float: left;
    max-width: 40%;
    margin: 2% 4% 2% 4%;
  }
  .img-kurva {
    float: left;
    max-width: 40%;
    margin: 2% 4% 2% 4%;
  }
}
/*# sourceMappingURL=main.css.map */